<h3>{{title}} - {{displayQuery}}</h3>
<form action="">
  <div *ngFor="let key of modelKeys">
    {{key}} <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]"/>
  </div>
    <button (click)="sendQuery()">Submit</button>
</form>
<div *ngIf="searchResults; else elseBlock">
  <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
  <ul class="list">
    <li [ngStyle]="{'background-color' : (i % 2 === 0) ? 'silver' : 'white'}" class="list_item"
      *ngFor="let result of searchResults.items; index as i;">
      <a [href]="result.html_url">
        <!-- <img class="avatar" [src]="result.owner.avatar_url" />  -->
        <h4 class="title">{{result.name}}
          <small> by {{result.owner.login | uppercase}}</small>
        </h4>
      </a>
      <p class="description"> {{result.description}}</p>
      <p> Created On: {{result.created_at | date:'fullDate'}} </p>
    </li>
  </ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>